@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#001f3f, #3a6d8c);
  background-attachment: fixed;
  color: whitesmoke;
}

.dialog,
.game_mode,
.end-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100px;
  background-color: #84d2f7;
}

button:hover {
  opacity: 0.8;
}

.game_mode > div,
.dialog > div,
.end-game > div {
  display: flex;
  flex-direction: column;
}

.game_mode > div > div:first-child,
.player-name {
  align-self: center;
  padding: 1rem;
  font-family: "Bitter", serif;
  font-weight: 600;
}

.restart,
.end-game > div > div {
  align-self: center;
  padding: 0.3rem;
  font-family: "Bitter", serif;
  font-weight: 600;
}

.mode-btns,
dialog > div > button {
  align-self: center;
}

.mode-btns > button,
.dialog > div > button,
.restart {
  width: 120px;
  height: 24px;
  font-family: "Bitter", serif;
  font-size: 12px;
  font-weight: 600;
  border-style: none;
  border-radius: 8px;
  background-color: #ffe96b;
  margin: 2px;
}

header {
  height: 2.5rem;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-family: "Bitter", serif;
}

.title {
  font-size: 21px;
  font-weight: bold;
  color: whitesmoke;
}

.header-right > .restart {
  font-size: 12px;
  width: 64px;
  height: 24px;
  border-style: none;
  border-radius: 8px;
  font-family: "Bitter", serif;
  font-weight: 600;
}

main {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 8px;
}

.shiplist-One,
.shiplist-Two {
  width: 80px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.shiplist-Two > .ship-cont {
  justify-content: flex-end;
}

.ship-cont {
  display: flex;
}

#playerOne,
#playerTwo {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  width: 400px;
  height: 300px;
}

.board {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.x_axis {
  height: 25px;
  width: 250px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
  font-family: "Bitter", serif;
  font-size: 12px;
  font-weight: 600;
}

.y_axis {
  height: 275px;
  width: 25px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
  font-family: "Bitter", serif;
  font-size: 12px;
  font-weight: 600;
}

#boardOne,
#boardTwo {
  height: 250px;
  width: 250px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
}

.One-square,
.Two-square {
  border-style: none;
}

#boardOne > button,
#boardTwo > button {
  background-color: #f3f8ff;
}

.board-name {
  font-family: "Bitter", serif;
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
}

.msg-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: "Bitter", serif;
  font-size: 14px;
  font-weight: 600;
}

.message {
  width: 400px;
  color: #ff885b;
}

span {
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  /* border: 1px solid black; */
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.square {
  width: 18px;
  height: 18px;
  margin: 1px;
  background-color: aquamarine;
}

.form-left,
.form-right {
  /* border: 1px solid black; */
  width: 200px;
}

.form-right {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-left > select {
  height: 24px;
  width: 200px;
  font-family: "Bitter", serif;
  font-size: 12px;
  font-weight: 600;
}

.form-right > button,
.form-right > select,
input,
label {
  height: 24px;
  font-family: "Bitter", serif;
  font-size: 12px;
  font-weight: 600;
}

.form-right > button {
  background-color: #ffe96b;
  border-style: none;
  border-radius: 8px;
  padding-top: 2px;
}

.shape {
  /* border: 1px solid black; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coor {
  display: flex;
}

.coor > div {
  display: flex;
  flex-direction: column;
}

.coor > div > div {
  align-items: center;
}

input {
  height: 24px;
  width: 100px;
}

#placeShipBtn-One,
#placeShipBtn-Two {
  width: 60px;
}

#playerOne-finBtn,
#playerTwo-finBtn {
  width: 120px;
}
